.vscode/**
microservice_1/protoc-3.15.8-linux-x86_64.zip
**/go.sum
microservice_1/go_client/go_client
microservice_1/run_server/run_server
microservice_1/ts_client/node_modules/**
microservice_1/ts_client/client.js
microservice_1/ts_client/package-lock.json
microservice_1/ts_client/src/index.js
microservice_1/ts_client/dist/main.js
microservice_1/generated/cover.html
microservice_1/generated/cover.out
microservice_1/generated/go.mod
microservice_1/generated/linter.out
microservice_1/generated/test_client
microservice_1/generated/test_server
app_onboarding/generated/**